{% extends 'users/userdashboard.html' %}
{% load static %}
<title>{% block title %} ثبت نام | کتاب فروشی{% endblock%}</title>
{% block content %}
    <div class="container text-right">
        {% if address %}
                <h4>نشانی فعلی</h4>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <p class="card">استان: {{address.city}}</p>
                            <p class="card">نشانی:  {{address.address}}</p>  
                            <p class="card"> کد پستی : {{address.postal_code}}</p>
                        </div>
                    </div>
                </div>
         
        {% endif %}
        <hr>
        <h3>سایر آدرس های شما</h3>
                
        {%  for ad in addresses%}
                <div class="  row">
                    <div class="card ">
                        <div class="card-body">
                            <p class="card">استان: {{ad.city}}</p>
                            <p class="card">نشانی:  {{ad.address}}</p>  
                            <p class="card"> کد پستی : {{ad.postal_code}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
        <!-- <h3 class="pt-1 pr-5">ایجاد آدرس جدید</h3> -->
        <hr>
        <form class="form-group" method="post">
            {% csrf_token %}
            {{user_address.as_p}}
            <button  class = "btn bg-primary"type='submit'>ایجاد آدرس</button>
        </form>
{% endblock %}