{% extends 'users/userdashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
<title>{% block title %} ثبت نام | کتاب فروشی{% endblock%}</title>
{% block content %}
    <div class="card-body">
        <div class="ps-content mr-10 ">
            <div class="ps-container ">
                <div class="ps-cart-listing mr-4">
                    <table class="table ps-cart__table   text-right">
                        <thead >
                            <tr>
                                <th></th>
                                <th></th>
                                <th>همه ی آدرس های من      </th>
                                
                            </tr>
                        </thead>
    
                        <tbody>
                            
                            {% for ad in addresses %}
                              
                                    <tr>
                                     
                                        <td class="card-header">
                                            <br> {{ad.city}} {{ad.address}}</td>
                                        <td>
                                            <form action="{% url 'address_remove' ad.id %}" method="post">
                                                <button class="ps-remove"></button>
                                                {% csrf_token %}
                                            </form>
                                            
                                        </td>
                                    </tr>
                               
                            {% endfor %}
                            
                        
                        </tbody>
                    </table>
                    
            <hr>
          
        </div>
            <h3 class=" card-body bg-light pt-1 pr-5 text-center">ایجاد آدرس جدید</h3>
            
            <form class="form-group text-right mr-3 " style="color: black; width:50%;" method="post">
                {% csrf_token %}
                {{user_address|crispy}}
                <button  class = "btn bg-primary"type='submit'>ایجاد آدرس</button>
            </form>
    </div>
{% endblock %}