{% extends 'bookshop/base2.html' %}
{% load static %}
<title>{% block title %} ثبت نام | کتاب فروشی{% endblock%}</title>
{% block content %}
    <div class="container text-right">
        {% if addresses %}
                <h4>نشانی فعلی</h4>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <p class="card">استان: {{addresses.city}}</p>
                            <p class="card">نشانی:  {{addresses.Address}}</p>  
                            <p class="card"> کد پستی : {{addresses.postal_code}}</p>
                        </div>
                    </div>
                </div>
         
        {% endif %}
    </div>
        <!-- <h3 class="pt-1 pr-5">ایجاد آدرس جدید</h3> -->
        <hr>
        <form class="form-group" method="post">
            {% csrf_token %}
            {{user_address.as_p}}
            <button  class = "btn bg-primary"type='submit'>ایجاد آدرس</button>
        </form>
{% endblock %}