{% extends 'users/userdashboard.html' %}
{% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block content %}

    <h2 class="text-right"> تاریخچه سفارشات شما </h2>
    <div class="container">
      <!-- <h2>Striped Rows</h2>
      <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>تاریخ</th>
            <th>قیمت کل</th>
            <th>سفارش نهایی شده</th>
            <th>آدرس فاکتور</th>
          </tr>
        </thead>
        <tbody>
        {%  for ord in ordr_hist %}
          <tr>
            <td>{{ord.created_date}}</td>
            <td>{{ord.total_price}}</td>
            <td>{{ord.state}}</td>
            <td>{{ord.billing_address.address}}</td>
          </tr>
         {%  endfor %}
        </tbody>
      </table>
    </div>
    

{%  endblock %}