{% extends 'bookshop/base2.html' %}
{% load static %}
<title>{% block title %} Registration | Bookshop{% endblock%}</title>
{% block content %}

    <section class="my_account_area pt--80 pb--55 bg--white">
        <div class="container">
            <div class="row justify-content-center">
                <!-- registration form  -->
                <div class="col-lg-6 col-12">

                    <h1 style="margin-top:10%;">ثبت نام</h1><br>
                    <form class="ps-form--contact" action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{form }}

                        <div class="form-group">
                            <br>
                            <button style="border-radius: 10px;"  action = "{% url 'index' %}" type ='submit'class="ps-btn pl-60 pr-60">ثبت نام </button>
                        </div>
                        <div class="form-group">
                            <div>
                                <p class="text-muted">حساب کاربری دارید؟<a class="ml-2" href="{% url 'login' %}">وارد شوید
                                    </a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row row align-items-center">
                    <div class='col mg- align-self-center'>
                        <br>
                        <img src="{% static 'bookshop/images/signup.jpg' %}"  width="350" height="350" alt="" >
                    </div>
                </div>
            </div>
            
        </div>
    </section>

{% endblock %}